# JetBrains Rider specific files
.idea/
*.suo
*.user
*.userprefs
*.resharper
*.bak
*.cache
*.pid
*.log
*.tmp
*.temp
*.obj
*.pdb
*.opendb
*.db
*.build
*.ncb
*.scc
*.vspscc
*.vssscc
*.vsscc
*.psess
*.vsp
*.vspx
*.xps
*.xml.user
*.aps
*.bsc
*.sbr
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.pch
*.obj
*.lib
*.exp
*.ilk
*.idb
*.iobj
*.iout
*.ipdb
*.ipch
*.o
*.lo
*.la
*.al
*.so
*.a
*.dll
*.exe
*.com
*.ocx
*.tlb
*.tlh
*.tli
*.ncb
*.opt
*.aps
*.res
*.pch
*.obj
*.lib
*.exp
*.ilk
*.idb
*.iobj
*.iout
*.ipdb
*.ipch
*.o
*.lo
*.la
*.al
*.so
*.a
*.dll
*.exe
*.com
*.ocx
*.tlb
*.tlh
*.tli

# Build artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.kproj
*.user
*.userprefs
*.suo
*.resharper
*.bak
*.cache
*.pid
*.log
*.tmp
*.temp
*.obj
*.pdb
*.opendb
*.db
*.build
*.ncb
*.scc
*.vspscc
*.vssscc
*.vsscc
*.psess
*.vsp
*.vspx
*.xps
*.xml.user
*.aps
*.bsc
*.sbr
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.pch
*.obj
*.lib
*.exp
*.ilk
*.idb
*.iobj
*.iout
*.ipdb
*.ipch
*.o
*.lo
*.la
*.al
*.so
*.a
*.dll
*.exe
*.com
*.ocx
*.tlb
*.tlh
*.tli
